<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Cookie 실습 메인</h1>
    <p>sessionid:{{request.session.session_key}}</p>
    <p>로그인 상태 :
    {% if request.session.login_user %}
        {{request.session.login_user}}
        <a href="{% url 'ex_cookie:logout' %}">로그아웃</a>
    {% endif %}
    </p>
    {% for cookie in cookies %}
        <li>쿠키:{{cookie}}</li>
    {% endfor %}
    <hr>
    <a href="{% url 'ex_cookie:sc' %}">세션쿠키</a>
    <a href="{% url 'ex_cookie:pc' %}">영구 쿠키</a>
    <a href="{% url 'ex_cookie:login' %}">로그인</a>
</body>
</html>
