<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method ='POST'>
        {% csrf_token %}
        <input type="text" name="id" value="{{remember_id}}"> <br>
        <input type="password" name="pw"> <br>
        <input type="checkbox" name="remember" {% if remember_id %}checked{% endif %}> <br>
        아이디 기억하기
        <input type="submit" value="로그인">
    </form>
</body>
</html>
