{% extends 'ex_template/base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
    <ol>
        <li><a href="/ex/ex01/">ex01</a></li>
        <li><a href="/ex/ex02/">ex02</a></li>
        <li><a href="/ex/ex03/">ex03</a></li>
        <li><a href="/ex/ex04/">ex04</a></li>
        <li><a href="/ex/ex05/">ex05</a></li>
        <li><a href="/ex/ex06/">ex06</a></li>
        <li><a href="/ex/ex07/">ex07</a></li>
        <li><a href="/ex/ex08/">ex08</a></li>
        <li><a href="/ex/ex09/">ex09</a></li>
    </ol>
{% endblock %}
