
<ul>
    <li><a href="{% url 'ex_form:exam01' %}">exam01</a></li>
    <li><a href="{% url 'ex_form:exam02' %}">exam02</a></li>
    <li><a href="{% url 'ex_form:exam03' %}">exam03</a></li>
    <li><a href="{% url 'ex_form:exam04' %}">exam04</a></li>
    <li><a href="{% url 'ex_form:exam05' %}">exam05</a></li>
    <li><a href="{% url 'ex_form:exam06' %}">exam06</a></li>
    <li><a href="{% url 'ex_form:exam07' %}">exam07</a></li>
    <li>exam08 : DetailView테스트</li>
    <li><a href="{% url 'ex_form:exam09' %}">exam09</a></li>
</ul>
